.page {
	margin-top: 60px;
	display: flex;
	height: calc(100vh - 60px);
	width: 100vw;

	justify-content: center;
	align-items: center;

	*::-webkit-scrollbar {
		width: 0.2em;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #3333339d;
		outline: 1px solid #3333339d;
	}

	.main {
		height: calc(100% - 60px);
		width: 90%;

		background-color: #1f1f1f;
		border: 2px solid #2b2b2b;
		border-radius: 10px;

		display: flex;

		.contacts {
			width: 30%;

			.contact-search-bar {
				width: calc(100% - 20px);

				margin: 10px;
				padding: 10px;
				border: 2px solid #353535;
				border-radius: 5px;
				outline: none !important;

				background-color: #1f1f1f;
				color: white;
			}

			.contact {
				display: flex;

				padding: 10px;

				cursor: pointer;
				user-select: none;

				.avatar {
					height: 50px;
					width: 50px;

					border-radius: 50%;
				}

				.contact-information {
					margin-left: 10px;
					width: 80%;

					h5 {
						margin: 0 !important;
					}

					// TODO: If the message is new, then make the text white
					.message {
						position: relative;

						height: 25px !important;
						width: 100%;
						display: inline-block;
						padding-right: 8px;

						color: #afafaf;
						line-height: 25px;

						overflow: hidden;
						overflow-wrap: break-word;
						word-wrap: break-word;

						&::after {
							position: absolute;
							right: 0;
							bottom: 0;

							content: '…';
						}
					}
				}
			}
		}

		.chat {
			position: relative;

			width: 70%;

			border-left: 2px solid #2b2b2b;

			.navbar {
				position: absolute;
				display: flex;

				height: 70px;
				width: 100%;
				padding: 10px;

				border-bottom: 2px solid #353535;

				.avatar {
					height: 50px;
					width: 50px;
					border-radius: 50%;
				}

				h5 {
					margin: 0 0 0 10px !important;
				}

				h5:last-of-type {
					color: #acacac;
				}
			}

			.messages {
				position: absolute;
				top: 70px;

				width: 100%;
				height: calc(100% - 150px);

				overflow-y: scroll !important;
				overflow-x: hidden !important;
				padding: 10px 0 10px 0;

				white-space: pre-wrap;

				.message {
					display: flex;
					align-items: center;

					width: 100%;
					border-radius: 10px;

					div {
						max-width: 500px;
						min-width: 100px;
						padding: 10px;
						border-radius: 10px;

						word-wrap: break-word;
					}

					.sent-by-user {
						box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.288);
						background-color: #a157ff;
						margin: 3px 10px 3px auto;

						text-overflow: clip;

						.timestamp {
							color: #c0c0c0;
						}
					}

					.sent-to-user {
						box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.288);
						background-color: #303030;
						margin: 3px auto 3px 10px;

						.timestamp {
							color: #616161;
						}
					}

					.timestamp {
						margin: -13px;

						font-size: 15px;
					}
				}
			}

			.message-input {
				position: absolute;
				display: flex;
				align-items: center;
				bottom: 0;

				height: 80px;
				width: 100%;

				background-color: #242424;

				textarea {
					resize: none;

					height: 50px;
					margin: 10px 0px 10px 0px;
					width: 100%;

					padding: 5px;

					border: none;
					border-radius: 10px;
					outline: none;

					background-color: #333333;
					color: white;
				}

				button {
					width: 50px;
					height: 50px;

					background: none;
					border: none;
					outline: none;

					margin: 3px;
				}
			}
		}
	}
}
