@font-face {
    font-family: 'Baloo2';
    src: url('./baloo-2/Baloo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo2';
    src: url('./baloo-2/Baloo2-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo2';
    src: url('./baloo-2/Baloo2-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo2';
    src: url('./baloo-2/Baloo2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo2';
    src: url('./baloo-2/Baloo2-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
