.page {
    height: 100vh;
    color: white;
    text-align: center;
    background-color: #1a1a1a;

    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        tr, td {
            padding: 10px;
            border: 1px solid #ccc;   
        }

    }
}