.page {
    align-items: center;

    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

    * {
        font-weight: 550 !important;
    }

    header {
        color: #fff;
        left: 50%;
        margin-bottom: 35px;
        position: absolute;

        text-align: center;
        top: 20%;
        transform: translate(-50%, 0%);

        a {
            color: #a157ff !important;
        }
    }

    main {
        position: fixed;
        width: 25%;
        z-index: 10 !important;

        .error {
            color: #ed4245;
            margin: 0 0 30px 10px;
        }

        .login {
            a {
                color: #a157ff;
                text-decoration: none;
            }
        }

        .progress-bar {
            height: 5px;
            margin-top: 5px;
        }

        button {

            background: linear-gradient(268.13deg, #6700ea33 10.78%, #22c2f433 77.16%), #a765fc;
            border: none !important;

            border-radius: 12.3px;
            color: #fff;
            outline: none !important;
            padding: 10px;
            width: 100%;
        }

        input {

            background-color: #131417 !important;
            border: 2px solid #212129;
            border-radius: 10px;
            box-shadow: none !important;
            color: #fff !important;
            padding: 10px;

            transition: all 0.1s ease-in-out;

            &:focus {
                border: 2px solid #8d78fb;
            }
        }

        label {
            color: #fff;
        }
    }

    footer {
        bottom: 5px;
        position: absolute;
        text-align: center;

        a {
            color: #a157ff !important;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 900px) {
    .page {
        main {
            margin-top: 20%;
            width: 90%;
        }
    }
}
