.page {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	* {
		font-weight: 550 !important;
	}

	header {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, 0%);

		text-align: center;
		color: white;
		margin-bottom: 35px;

		a {
			color: #a157ff !important;
		}
	}

	main {
		width: 25%;
		position: fixed;
		z-index: 10 !important;

		.error {
			color: #ed4245;
			margin: 0 0 30px 10px;
		}

		.login {
			a {
				text-decoration: none;
				color: #a157ff;
			}
		}

		.progress-bar {
			margin-top: 5px;
			height: 5px;
		}

		button {
			width: 100%;

			border-radius: 12.3px;
			padding: 10px;
			border: none !important;
			outline: none !important;

			background: linear-gradient(268.13deg, #6700ea33 10.78%, #22c2f433 77.16%), #a765fc;
			color: white;
		}

		input {
			box-shadow: none !important;
			border: 2px solid #212129;
			border-radius: 10px;
			padding: 10px;

			background-color: #131417 !important;
			color: white !important;

			transition: all 0.1s ease-in-out;

			&:focus {
				border: 2px solid #8d78fb;
			}
		}

		label {
			color: white;
		}
	}

	footer {
		position: absolute;
		text-align: center;
		bottom: 5px;

		a {
			text-decoration: none;
			color: #a157ff !important;
		}
	}
}

@media only screen and (max-width: 900px) {
	.page {
		main {
			width: 90%;
			margin-top: 20%;
		}
	}
}
