@font-face {
	font-family: 'Baloo 2';
	src: url('/assets/fonts/Baloo2-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Fredoka';
	src: url('/assets/fonts/Fredoka-VariableFont.ttf');
}

@font-face {
	font-family: 'Comfortaa';
	src: url('/assets/fonts/Comfortaa-VariableFont_wght.ttf');
}

html,
body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Fredoka';
	color: #ebebeb;
	background-color: #111315;
}

.particles {
	position: fixed;
	z-index: 0;
}