@font-face {
	font-family: 'Baloo 2';
	src: url('/assets/fonts/Baloo2-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Fredoka';
	src: url('/assets/fonts/Fredoka-VariableFont.ttf');
}

html,
body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Fredoka';
	color: #ebebeb;
}

// Custom Components
.custom-input {
	input {
		color: white !important;
		box-shadow: none !important;

		transition: all 0.1s ease-in-out;

		&:focus {
			border: 2px solid #8d78fb !important;
		}
	}

	.form-floating {
		.form-control {
			background-color: #171717;

			border: 2px solid #343434;
			border-radius: 10px;
		}
	}
}
