@import url("../../fonts/fonts.module.css");

.page {
    // * General Styles
    @media screen {
        color: white;
        font-family: "Baloo2", sans-serif;
        background-color: #0b0c0c;
        font-weight: bold;

        .title {
            user-select: none;
            h1 {
                font-weight: 1000 !important;
            }
        }

        main {
            form {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);

                label {
                    font-size: 19px;
                    margin: 20px 0 -10px 5px !important;
                }

                .login {
                    margin-top: 10px;
                    margin-bottom: 40px;
                    font-size: 14px;
                    color: #c0c0c0;

                    a {
                        color: #8c77fa;
                        text-decoration: none;
                    }
                }

                .input-group {
                    input {
                        padding: 10px;

                        transition: all 0.15s ease-in-out;
                        border-radius: 10px;
                        background-color: #171717 !important;
                        border: 2px solid #222222;

                        color: #cecece;
                        font-weight: 500;

                        &:focus {
                            outline: none;
                            border: 2px solid #8c77fa;
                        }
                    }

                    span {
                        transition: all 0.15s ease-in-out;
                        background-color: #171717 !important;
                        border: 2px solid #222222;
                        border-radius: 10px;
                    }

                    input:focus + span {
                        border: 2px solid #8c77fa;
                    }
                }

                button {
                    width: 100%;
                    height: 50px;
                    margin-top: 70px;
                    padding: 10px;

                    transition: all 0.2s ease-in-out !important;
                    background-image: linear-gradient(130deg, #8c78fa 50%, #9a51f8 100%);
                    box-shadow: 0px 0px 30px 2px rgba(140, 119, 250, 0.6);
                    cursor: pointer;
                    border: none;
                    border-radius: 10px;

                    color: white;
                    font-size: 19px;

                    &:hover {
                        box-shadow: 0px 0px 30px 6px rgba(140, 119, 250, 0.6);
                        filter: contrast(150%);
                        background-position: 0;
                    }

                    &:disabled {
                        box-shadow: none;
                        cursor: not-allowed;
                    }
                }

                .captcha {
                    margin-bottom: -40px;
                    margin-top: 30px;
                    display: flex;
                    justify-content: center;
                }

                .password-strength {
                    height: 5px;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    background-color: #222222;
                    margin-top: -10px;
                }

                .errors {
                    color: #ed4245;
                    font-size: 15px;
                    margin-top: 20px;
                }
            }
        }
    }

    // * Desktop
    @media screen and (min-width: 785px) {
        height: 100vh;

        .return-button {
            display: none;
        }

        main {
            .title {
                top: 17%;
                position: absolute;
                text-align: center;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            form {
                top: 56% !important;
                width: 500px;
            }
        }

        .tos {
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 14px;
            color: #c0c0c0;

            a {
                color: #8c77fa;
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 784px) {
        height: 120vh;

        .particles {
            display: none;
        }

        .return-button {
            cursor: pointer;
            padding: 25px 0px 0px 25px;
        }

        .title {
            width: 100%;

            h1 {
                width: 100%;
                position: absolute;
                top: 20%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

            svg {
                position: absolute;
                top: 25px;
                right: 25px;
            }
        }
    }
}
