.component {

    background-color: #1f1f1f;
    bottom: 0;
    color: #fff;

    display: flex;
    justify-content: space-evenly;
    position: fixed;
    text-align: center;
    width: 100%;

    button {
        background-color: #1f1f1f;
        border: none;
        margin: 10px 0px;
    }

    img {
        max-width: 30px;
        min-width: 30px;
    }


    .profile-button {
        img {
            border-radius: 50%;
        }
    }
}

@media only screen and (min-width: 901px) {
    .component {
        display: none;
    }
}
