.component {
    z-index: 1000;

    .not-logged-in {
        align-items: center;

        display: flex;

        font-family: 'Comfortaa';
        justify-content: center;
        left: 10px;
        position: absolute;
        top: 10px;

        h2 {
            font-size: 20px;
            margin: 0;
        }

        img {
            margin: 0 10px 0 0;
            width: 20px;
        }
    }

    .logged-in {
        align-items: center;
        background-color: #191821;

        display: flex;

        font-family: 'Comfortaa';
        height: 60px;
        justify-content: center;
        left: 0px;

        position: fixed;
        top: 0px;

        width: 100%;

        .top-bar-left {

            cursor: pointer;

            display: flex;
            left: 10px;

            margin: 10px;
            position: absolute;
            user-select: none !important;
            width: 20%;

            .logo {
                margin: 0 10px 0 0;
                width: 20px;
            }

            .search-icon {
                position: absolute;
                top: 50%;
                transform: translate(calc(200% + 12.5px), -50%);
            }

            input {

                background-color: #1f1f1f;

                border: 2px solid #3f3f3f;
                border-radius: 7px;
                color: #fff;
                margin: 0 0 0 10px;
                outline: none !important;
                padding: 7px 5px 7px 30px;

                transition: all 0.1s ease-in-out;
                width: 100%;

                &:active,
                &:focus {
                    border: 2px solid #8d78fb;
                    width: (200%);
                }
            }
        }

        .top-bar-center {
            align-items: center;

            display: flex;
            justify-content: center;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 30%;

            button {

                background-color: #1f1f1f;
                border: none !important;
                margin: 0 20px !important;
                outline: none;

                * {
                    border-radius: 10px;
                    padding: 5px;
                    transition: all 0.1s ease-in-out;
                }

                &:hover {
                    * {
                        background-color: rgba(255, 255, 255, 0.151);
                    }
                }
            }
        }

        .top-bar-right {
            position: absolute;
            right: 10px;

            .dropdown-menu-button {
                align-items: center;

                background-color: none;

                border: 2px solid #3f3f3f !important;
                border-radius: 10px;
                cursor: pointer;
                display: flex;
                margin: 10px;
                padding: 3px;

                transition: all 0.1s ease-in-out;

                * {
                    font-weight: bolder !important;
                    user-select: none !important;
                }

                img {
                    margin: 0px 8px;
                }

                img:first-of-type {
                    border-radius: 50%;
                    height: 25px;
                    width: 25px;
                }

                img:last-of-type {
                    height: 15px;
                    width: 15px;
                }

                &:hover {
                    background-color: #3f3f3f77;
                }

                .dropdown-menu-button-text {

                    color: #888;
                    display: flex;
                    flex-direction: column;

                    b {

                        color: #fff;
                        min-width: 200px;
                    }

                    a {

                        font-size: 13px;
                        margin: -7px 0 0 !important;
                    }
                }
            }

            .dropdown-menu {

                background-color: #1f1f1f;
                border-radius: 10px;
                left: 50%;
                padding: 10px;
                position: absolute;
                transform: translateX(-50%);

                width: 90%;

                div {
                    align-items: center;
                    border-radius: 5px;

                    color: #888;

                    cursor: pointer;
                    display: flex;
                    font-weight: 900;

                    padding: 7px;
                    text-align: left;
                    transition: all 0.1s ease-in-out;

                    user-select: none;

                    &:hover {
                        background-color: #3f3f3f;
                        color: #bbb;
                    }

                    &:last-of-type {
                        color: #ed4245;
                    }

                    img {
                        padding: 0 5px 0 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .component {
        display: none;
    }
}
