.page {
    background-color: #272729;
    color: #fff;

    .left-bar {
        background-color: #161616;
        height: 100%;

        padding: 10px;
        padding: 60px 10px 0px calc(5vw + 50px);

        position: fixed;
        width: 25%;

        h4 {
            text-align: left;
        }

        button {
            background-color: #161616;
            border: none;
            border-radius: 5px;
            color: #fff;
            margin: 2.5px 30px 2.5px 0px;
            padding: 5px;
            text-align: left;
            transition: all 0.1s ease-in-out;
            width: 100%;

            &:hover {
                background-color: #272729;
            }
        }

        hr {
            transform: translateX(5%);
            width: 90%;
        }
    }

    .right-bar {

        background-color: #272729;
        height: 100%;
        left: 25%;

        padding: 50px;
        position: absolute;
        top: 0;
        width: 75%;
    }
}
